@import "@/shared/theme/colors";

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: colors("white");
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(colors("black"), 0.08);
  max-width: 400px;
  margin: 3rem auto 0 auto;
}

.title {
  text-align: center;
}

@media (max-width: 480px) {
  .form {
    padding: 1rem;
    max-width: 100%;
    border-radius: 8px;
  }
}
